
body{
    background-color: #F8F8FB;
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
}
.wrapper{
    z-index: -1;
    /* width: 1920px; */
    width: 100%;
    height: 1172px;
    background: #F8F8FB;
}
.flex{
    display: flex;
    align-items: flex-end;
}
.mr30{
    margin-right: 30px;
}
.mr50{
    margin-right: 50px;
}
.mr15{
    margin-right: 15px;
}
.mb5{
    margin-bottom: 5px;
}
.ml30{
    margin-left: 30px;
}
.mr10{
    margin-right: 10px;
}
.ml40{
    margin-left: 40px;
}
.mr45{
    margin-right: 45px;
}
.ml5{
    margin-left: 5px;
}
/* ----------------------------------------------------- Navigation --------------------------------------------------*/
.navigation{
    width: 100px;
    height: 1080px;
    background-color: #373B53;
    position: absolute;
    z-index: 1;
}
.navigation__box--blue{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #6F52ED;
    margin-bottom: 40px;
}
.navigation__icons{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.navigation__icons--item:nth-child(4){
    margin-top: 40px;
}
.navigation__icons--item:nth-child(5){
    margin-top: 630px;
}
.navigation__icons--item:first-child{
    
}

.navigation__icons--box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}







/* ----------------------------------------------------- Student block --------------------------------------------------*/
.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 395px;
    height: 154px;
    background-color: #FFFFFF;
    border-radius: 10px;
  
}
.card__wrapper{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(113, 59, 219, 0.05);
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.card__wrapper--icon{
    width: 24px;
    height: 24px;
}
.card__content--number{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card__content--description{
    font-weight: 500;
    font-size: 16px;
    color: #A6ACBE;
}











/* ----------------------------------------------------- Topbar --------------------------------------------------*/


.topbar{
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar__icons--item{
 
}
.topbar__icons--search{
    margin-left: 160px;
    width: 99px;
    height: 24px;
}
.topbar__icons--right{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.topbar__info--lecturer{
    text-align: end;
}


/* ---------------------------------------------- Statistics block--------------------------------------------------*/
.statistics{
    display: flex;
    margin-left: 105px;
    margin-top: 70px;
    justify-content: space-evenly;
}



.header{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    /* margin-left: 9%; */
    margin-top: 35px;
}
.header__button{
    display: flex;
    margin-right: 45px;
    /* margin-right: 4.5%; */
    align-items: center;
    
}
.header__name p:nth-child(1){
    font-size: 30px;
    font-weight: 600;
}
.header__name p:nth-child(2){
    font-size: 14px;
    color: #A6ACBE;
}
.header__button--manage{
    display: flex;
    align-items: center;
    border: 1px solid #DADCE5;
    padding: 10px 18px;
    border-radius: 5px;
    color: #6F52ED;
    font-size: 14px;
    font-weight: 600;
}
.header__button--create{
    display: flex;
    align-items: center;
    border: 1px solid #DADCE5;
    padding: 10px 18px;
    border-radius: 5px;
    background-color: #6F52ED;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}




.studentsrank{
    display: flex;
}

.studentsleft__card{
    display: flex;
    margin-top: 40px;
}

.studentsright{
    display: flex;
    margin-left: 45px;
    margin-top: 40px;
}

.studentsleft{
    margin-left: 150px;
    margin-top: 40px;
}